body {
  background-color: #f7f9fc; /* mesmo fundo claro do primeiro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px; 
  padding: 0px;
  width: 100%;
  height: 100%;  
}

/* Cabeçalho */
.cabeçalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 00px 10px;
background: linear-gradient(to bottom, #c0b595, #c0b595); /* degradê azul claro → branco */  color: white;
    color: rgb(97, 97, 97);

  position: fixed;
  height: 55px;
}

span {
  width: auto !important;
}
.cabeçalho button {
  background-color: transparent;
  border: none;
  padding: 10px 18px;
  font-size: 0.9rem; /* Ajustado */
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(97, 97, 97);
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.cabeçalho button:hover {
  background-color: #ada384;
}




.dropdown {
  text-align: center;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 98%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #eaeaea; /* tom claro azul do fieldset */
  font-size: 18px;
  border: 1px solid #c0b595;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(65, 88, 208, 0.3);
}

.dropdown-content a {
  padding-top: 10px;
  padding-bottom: 10px;
  
  height: 20%;
  margin: 0px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-content a p {
  color: #655e48;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  background-color: #90876d; /* azul claro hover */
}

input {
  width: 94%;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  height: 25px;
  border: 1px solid #ffffff; /* borda azul suave */
  outline-offset: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #bfbfbf; /* azul mais vibrante */
  outline: none; /* remove a outline padrão do navegador */
}



.imagem {
  width: 50px;
  height: 58px;
}
p {
  font-size: 1rem;
  color: #333; /* texto escuro */
}

img {
  height: 50px;
  width: 50px;
}

.logo {
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
 border-left: 3px solid #ada384;
 border-bottom-left-radius: 8px;
}
.inputCard {
  border-radius: 8px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
background: linear-gradient(to bottom, #c0b595, #c0b595); /* degradê azul claro → branco */  color: white;
    color: rgb(97, 97, 97);  padding: 0;
}

.footerp {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
    color: rgb(97, 97, 97);  
}

.footerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  background-color: #ffffff;
  border-left: 3px solid #ada384;
  margin: 20px 20px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(65, 88, 208, 0.15); /* sombra azulada leve */
  transition: transform 0.2s ease;
  height: 50px;
  width: 80%;
  align-items: center;
  border-bottom-left-radius: 0px;
  
}

ul li:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 12px rgba(65, 88, 208, 0.3);
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-align: center;
  align-items: center;
  color:  #575757;
  text-decoration: none;
  width: 100%;
}

footer p {
      color: rgb(97, 97, 97);  

}

nav {
  width: 100%;
  align-items: center;
  text-align: center;
  align-self: center;
  align-content: center;
}

.fundotela {
  background-color: #ffffff; /* fundo azul claro */
  margin-top: 55px;
  position: fixed;
  overflow: auto;
  height: 90vh;
}
.fundotela1 {
  background-color: #ffffff; /* fundo azul claro */
}


h2 {
  text-align: center;
  color: #978e72;
}


.cabeçalho p {
      color: rgb(97, 97, 97);  

}





@media (max-width: 768px) {
 

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    width: 90%;
  }

  .dropdown-content {
    width: 100%;
  }
}
